<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="css/signup.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="container">
	
		
		<div id="form">
			<h1>Sign Up</h1>
			<hr>
			<form action="/users/create/web" method="POST">
				<div class="form-group">
					<p>First Name</p>
					<input class="form-control" type="text" name="name" placeholder="First Name" required>
				</div>
				<div class="form-group">
					<p>Last Name</p>
					<input class="form-control" type="text" name="surname" placeholder="Surname" required>
				</div>
				<div class="form-group">
					<p>Email</p>
					<input class="form-control" type="email" name="email" placeholder="Email" required>
				</div>
				<div class="form-group">
					<p>Enter Password</p>
					<input class="form-control" type="password" name="password" placeholder="********" required>
				</div>
				<div class="form-group">
					<p>Confirm Password</p>
					<input class="form-control" type="password" name="confirm_password" placeholder="********" required>
				</div>
    			<div class="form-group">By creating an account you agree to our <a href="#">Terms & Privacy</a>.</div>
    			<hr>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit</button>
				</div>
			</form>
			<a href="index.html">Go Back</a>
		</div>

</div>
<div class="footer">  
    <div class="container">
      <div class="row">
        <section id="guru" class="col-sm-4">
          <span>COUNSELLING GURUS</span><br>
          <p><a href="#">About Us</a><br></p>
          <p><a href="#">Blogs</a><br></p>
          <p><a href="#">Privacy Policy</a><br></p>
          <p><a href="#">Terms and Conditions</a><br></p>
          <hr class="visible-xs">
        </section>
        <section id="contact" class="col-sm-4">
          <span>CONTACT US</span><br>
          <p><a href="#"><i class="fa fa-phone"></i>9XXXXXXXXX</a><br></p>
          <p><a href="#"><i class="fa fa-envelope"></i>counsellinggurus@gmail.com</a><br></p>
          <hr class="visible-xs">
        </section>
        <section id="follow" class="col-sm-4">
          <span>FOLLOW US ON</span><br>
          <p>
          	<a href="https://www.facebook.com/counsellinggurus/"><i class="fa fa-facebook-square fa-2x"></i></a>
          	<a href="https://www.instagram.com/counsellinggurus/?hl=en"><i class="fa fa-instagram fa-2x"></i></a>
          	<a href="https://twitter.com/CounsellinGurus"><i class="fa fa-twitter-square fa-2x"></i></a>
          	<a href="https://www.youtube.com/channel/UCRd0rqiEdIBBiJtzPh8S0Lw"><i class="fa fa-youtube-square fa-2x"></i></a>
          	<a href="https://www.linkedin.com/company/counsellinggurus/"><i class="fa fa-linkedin-square fa-2x"></i></a>
          </p>
        </section>
    </div>
    </div>   
</div>
	
   <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>


</body>
</html>